<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="//use.typekit.net/kta6ruk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Kyle Shank<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :rss, "#{blog.options.prefix.to_s}/rss.xml", title: "RSS Feed" %>
    <%= stylesheet_link_tag "normalize", "all" %>
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css" />
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2236980-7']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
  </head>
  <body>
      <div class="logo"><%= image_tag "kyleShank.png" %></div>
      <div id="main">
        <%= yield %>
      </div>
      <div class="footer">
        <ul>
          <li><a href="http://twitter.com/kyleshank"><i class="icon-twitter"></i><span class="text">Twitter</span></a></li>
          <li><a href="http://github.com/kyleshank"><i class="icon-github"></i><span class="text">Github</span></a></li>
          <li><a href="http://linkedin.com/in/kyleshank"><i class="icon-linkedin"></i><span class="text">LinkedIn</span></a></li>
          <li><a href="http://eepurl.com/FyeXX"><i class="icon-envelope"></i><span class="text">Mailing List</span></a></li>
          <li><a href="http://www.kyleshank.com/rss.xml"><i class="icon-rss"></i><span class="text">RSS</span></a></li>
        </ul>
      </div>
  </body>
</html>
